all:
    vars:
        jenkins_domain: jenkins.example.com
        acme_email: admin@example.com
        cache_registry: https://cache-registry.example.com
        ssh_hardening: true    # false keeps SSH password logins enabled
    children:
        manager:
            hosts:
                server:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.0
                    ansible_port: 22
                    ansible_python_interpreter: /usr/bin/python3
        agent:
            hosts:
                agent-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 0.0.0.1
                    ansible_port: 22
